@model IEnumerable<template_csharp_blog.Models.Post>

@{
    ViewData["Title"] = "Index";
}
<div class="main-title">
    <div class="main-title-title">
        <h1>Index</h1>
    </div>
    <div class="main-title-controls">
        <a class="control-link" asp-action="Create">
            <div class="control">
                Create New
            </div>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="title-link" asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <div class="index-controls">
                    <a class="control-link" asp-action="Edit" asp-route-id="@item.Id">
                        <div class="control">Edit</div>
                    </a>
                    <a class="control-link" asp-action="Delete" asp-route-id="@item.Id">
                        <div class="control">Delete</div>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
